* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  width: 100%;
}

.App .navbar {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #000;
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.App .navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

.App .navbar .nav-links>a:hover{
  color: #c0c0c0;
  text-decoration: none;
  text-emphasis: bold;
  text-shadow: 3px 3px 3px #fff;
}
